<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="https://carpentries-incubator.github.io/docker-introduction/setup.html" target="_blank">Setup</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00 am (PST)</td>        <!-- time    -->
        <td>Instructors available to help with installation issues</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:30 am (PST)</td>        <!-- time    -->
        <td>Welcome, introductions, and course logistics</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>9:50 am (PST)</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/docker-introduction/01-introduction/index.html" target="_blank">Introducting Containers</a></td>        <!-- content -->
      </tr>
      <tr>
        <td>10:10 am (PST)</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/docker-introduction/02-meet-docker/index.html" target="_blank">Introducing the Docker command line</a></td>        <!-- content -->
      </tr>
      <tr>
        <td>10:20 am (PST)</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/docker-introduction/03-running-containers/index.html" target="_blank">Exploring and running containers</a></td>        <!-- content -->
      </tr>
      <tr>
        <td>10:50 am (PST)</td>        <!-- time    -->
        <td>Break</td>
      </tr>
      <tr>
        <td>11:10 am (PST)</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/docker-introduction/04-docker-hub/index.html" target="_blank">Finding containers on the Docker Hub</a></td>        <!-- content -->
      </tr>
      <tr>
        <td>11:30 am (PST)</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/docker-introduction/04b-managing-containers/index.html" target="_blank">Cleaning up containers</a></td>        <!-- content -->
      </tr>
      <tr>
        <td>11:40 am (PST)</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/docker-introduction/05-creating-container-images/index.html" target="_blank">Creating your own container images</a></td>        <!-- content -->
      </tr>
      <tr>
        <td>12:30 pm (PST)</td>        <!-- time    -->
        <td>Done for the day</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>
        <td>9:00 am (PST)</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/docker-introduction/05b-advanced-containers/index.html" target="_blank">Creating more complex container images</a></td>        <!-- content -->
      </tr>
      <tr>
        <td>10:20 am (PST)</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/docker-introduction/06-containers-on-the-cloud/index.html" target="_blank"></a>Creating containers in the cloud</td>        <!-- content -->
      </tr>
      <tr>
        <td>10:50 am (PST)</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>
        <td>11:10 am (PST)</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/docker-introduction/07-containers-for-continuous-integration/index.html" target="_blank">Containers used in generating this lesson</a></td>        <!-- content -->
      </tr>
      <tr>
        <td>11:30 am (PST)</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/docker-introduction/08-reproducibility/index.html" target="_blank">Containers in research workflows: reproducibility and granularity</a></td>        <!-- content -->
      </tr>
      <tr>
        <td>12:00 am (PST)</td>        <!-- time    -->
        <td>Wrap up!</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
